---
import Layout from "../layouts/Layout.astro";
import Box from "../components/admin_page/Box.astro";
import NewBox from "../components/admin_page/NewBox.astro";
---

<Layout title="Admin Page">
	<div class="flex flex-col gap-5 p-10">
		<h1>Hello, Astro!</h1>
		<div class="flex gap-5 justify-start flex-wrap">
			<NewBox>Create new box</NewBox>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
			<Box> Party Box </Box>
		</div>
	</div>
</Layout>
