---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Btn from "../components/Btn.jsx";
---

<Layout title="Gift Box">
	<main>
		<div class="flex flex-col m-auto text-center gap-2 py-52 px-5 bg-gray-600">
			<h1 class="text-4xl text-white">
				¡Disfruta de Momentos Únicos con Nuestras Cajas Temáticas!
			</h1>
			<h2 class="text-2xl font-thin text-white">
				Descubre nuestras deliciosas opciones de cajas temáticas y sorprende a
				tus seres queridos.
			</h2>
		</div>
	</main>
	<div class="flex gap-5 justify-center py-5 flex-wrap">
		<Card />
		<Card />
		<Card />
	</div>
</Layout>
