---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ProductSection from "../components/ProductSection.astro";
---

<Layout title="Gift Box">
	<main>
		<HeroSection />
		<ProductSection
			image="https://m.media-amazon.com/images/I/818PkR5KJEL._AC_SL1500_.jpg"
			title="Caja de regalo para mujer"
			description="Regalo perfecto para cualquier ocasión"
			direction="left"
		/>
		<section class="bg-gray-200 py-10">
			<div class="container mx-auto">
				<h2 class="text-3xl font-bold text-center mb-5">
					¡Descubre nuestras cajas temáticas!
				</h2>
				<p class="text-center text-gray-600">
					Encuentra la opción perfecta para sorprender a tus seres queridos.
				</p>
			</div>
		</section>
		<ProductSection
			image="https://res.cloudinary.com/dhoxoi8ob/image/upload/v1717235213/Disen%CC%83o_sin_ti%CC%81tulo_1_bznblx.jpg"
			title="Box Movie"
			description="Description of the Box Movie goes here."
			direction="right"
		/>
	</main>
</Layout>
