---
import { MENU_ITEMS, WEBSITE_INFORMATION } from "../constants";
---

<footer>
	<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
		<div class="sm:flex sm:items-center sm:justify-between">
			<a
				href="https://flowbite.com/"
				class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
			>
				<span
					class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
					>{WEBSITE_INFORMATION.title}</span
				>
			</a>
			<ul
				class="flex gap-10 flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
			>
				{
					MENU_ITEMS.map((item) => (
						<li>
							<a
								href={item.url}
								class="block py-2 px-3 text-secondary border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-primary md:dark:hover:text-primary dark:hover:bg-gray-700 dark:hover:text-primary md:dark:hover:bg-transparent dark:border-gray-700"
								aria-current="page"
							>
								{item.title}
							</a>
						</li>
					))
				}
			</ul>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
		<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
			>© 2023 <a href="https://flowbite.com/" class="hover:underline"
				>Flowbite™</a
			>. All Rights Reserved.</span
		>
	</div>
</footer>
