<section class="grid grid-cols-1 md:grid-cols-2">
	<div class="flex flex-col w-full p-10 justify-center items-end gap-2">
		<h1 class="text-5xl">Box Movie</h1>
		<p>Description of the Box Movie goes here.</p>
	</div>
	<div class="w-full h-[500px]">
		<img
			class="w-full h-full object-cover"
			src="https://res.cloudinary.com/dhoxoi8ob/image/upload/v1717235213/Disen%CC%83o_sin_ti%CC%81tulo_1_bznblx.jpg"
			alt="Image"
		/>
	</div>
</section>
